<h1>Twotter</h1>

<body>
  <form id="ajax-form">
	<p>Twote</p>
	<input type="text" value="Whee!"></input>
	<input type="submit" class="submit" value=">"></input>
	<p>{{this}}</p>
  </form>

  {{#each twotes}}
    <id="{{_id}}">
    <p>"{{text}}" -- {{author}}</p>
  {{/each}}

  <div id="result"></div>