<h1>Twotter</h1>

<body>
	<form id="new-twote">
	  <p>Twote</p>
	  <input type="text" value="Whee!"></input>
	  <button>></button>
	  <p>{{this}}</p>
	</form>

	{{#each ingredients}}
  <li id="{{_id}}"><p>{{name}} -- ${{price}}</p><div id="result"> </div>
      <button class="edit-button">Edit</button>
      <button class="out-button">Out of Stock</button>
  </li>
  {{/each}}