<h1>Ingredients</h1>

<h2>Currently in Stock:</h2>
<button id="add-button">Add New</button>

<ul>
  {{#each ingredients}}
  <li id="{{_id}}"><p>{{name}} -- ${{price}}</p><div id="result"> </div>
      <button class="edit-button">Edit</button>
      <button class="out-button">Out of Stock</button>
  </li>
  {{/each}}
</ul>