<h1>Ingredients</h1>

<h2>Currently in Stock:</h2>
<button id="add-button">Add New</button>

<ul>
  {{#each ingredients}}
  <li>{{name}} -- {{price}}
      <button id="edit-button">Edit</button>
      <button id="out-button">Out of Stock</button>
  </li>
  {{/each}}
</ul>

<ul>
  <li>Tomato -- $0.25
    <button id="edit-button">Edit</button>
    <button id="out-button">Out of Stock</button>
    <form id="ajax-form" action="main" method="POST">
      Name: <input type="text" name="name" value="Tomato"/>
      Price: <input type="text" name="price" value="$0.25"/>
      <input type="submit" value="Submit">
    </form>
    <div id="result">  
    </div>
  </li>
</ul>