<h1>Twotter</h1>

<body>
  <form id="post-twote" method="POST">
  <p>Twote</p>
  <input type="text" id="twote-text" placeholder="Twote Text..."></input>
  <input type="text" id="twote-author" placeholder="Twote Author..."></input>
  <input type="submit" id="new" value=">"></input>
  </form>

  {{#each twotes}}
<div id="result">
    <form class="twote" id={{this._id}} method="POST">
      <p>"{{this.text}}" - {{this.author}}</p>
      <input type="button" class="edit-button" action="edit-twote" value="Edit">
      <input type="button" class="delete-button" value="Delete">
    </form>
  {{/each}}
</div>