body {
  padding-left: 11em;
  font-family: Arial;
  color: black;
  background-color: white;
}

[id|=post-twote] {
    background: lightgrey;
    width:700px;
}

form {
    background: lightgrey;
    width: 500px;
    box-shadow: 0px 1px 2px #888888;
    padding: 25px;
    padding-top: 15px;
    margin-bottom: 25px;
} 

/*input {
	position: absolute;
	right: 800px;
}*/
